    
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Jonathan Behar">

    <!-- OG META-->
    <meta property="og:title" content="JDB443 Sequelized Burger App">
    <meta property="og:description" content="Sequelized Eat-Da-Burger App">
    <meta property="og:image" content="./assets/images/Sequelized-Burger-Demo800.png">
    <meta property="og:url" content="https://jdb443-sequelize-burger-app.herokuapp.com/">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Rye|Sancreek&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <title>Sequelized Eat-Da-Burger App</title>
</head>

<body>
    <div class="backgroundredcheck">
        {{{body}}}
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>    
    <!-- Compiled and minified JavaScript -->
<<<<<<< HEAD
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/assets/javascript/app.js"></script>
=======
    <script src="./assets/javascript/app.js"></script>
>>>>>>> 915b8c10e9ac2fec51788dac84a999a24302575c
</body>

</html>