.marg-bot-10 {
    margin-bottom: 10px;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 10px;
}

.title-rye {
    font-family: 'Rye', cursive;
    font-size: 3.7rem;
}

.title-sancreek {
    font-family: 'Sancreek', cursive;
}

.backgroundredcheck {
    background-color: #ff0000;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
    background-attachment: fixed;
    padding-left: 20px;
    padding-top: 12px;
    border: 0px;
  }

  .title-rye-16 {
    font-family: 'Rye', cursive;
    font-size: 16px;
    font-weight: bolder;
  }